<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar - Hamburgueria Delícia</title>
    <link rel="stylesheet" href="entrar.css">
</head>
<body>
<section class="container">
    <h2>Entrar</h2>
    <form class="form-container" action="#" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required><br><br>
        <button type="submit">Entrar</button>
    </form>
</section>
<footer>
    <p>&copy; 2024 Hamburgueria Delícia</p>
</footer>
</body>
</html>